<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>

    <!--Adding List of Players with probabilities-->
    <add key="Player1" value="Pravin:5,30,25,10,15,01,09,05"/>
    <add key="Player2" value="Irfan:10,40,20,05,10,01,04,10"/>
    <add key="Player3" value="Jalindar:20,30,15,05,05,01,04,20"/>
    <add key="Player4" value="Vaishali:30,25,05,00,05,01,04,30"/>

    <add key="totalRunToWin" value="40"/>
    <add key="noOfOvers" value="4"/>
  </appSettings>
</configuration>