
CricketSimulation/bin/Debug/CricketSimulation.exe
CricketSimulation/bin/Debug/CricketSimulation.exe.config
CricketSimulation/bin/Debug/CricketSimulation.pdb
CricketSimulation/bin/Debug/CricketSimulation.vshost.exe
CricketSimulation/bin/Debug/CricketSimulation.vshost.exe.config
CricketSimulation/bin/Debug/CricketSimulation.vshost.exe.manifest
CricketSimulation/obj/Debug/CricketSimulation.csproj.FileListAbsolute.txt
CricketSimulation/obj/Debug/CricketSimulation.csprojResolveAssemblyReference.cache
CricketSimulation/obj/Debug/CricketSimulation.exe
CricketSimulation/obj/Debug/CricketSimulation.pdb
CricketSimulation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CricketSimulation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
CricketSimulation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
CricketSimulation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
UnitTestCricketSimulation/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
UnitTestCricketSimulation/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
UnitTestCricketSimulation/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
UnitTestCricketSimulation/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
